body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 15vh;
  border-bottom: 1px solid #30303011;
  background-color: #60606009;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-weight: 800px;
  gap: 10px;
}
.logo p {
  font-size: 40px;
}
.logo i {
  font-size: 30px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-size: 18px;
}
.icons a {
  text-decoration: none;
  color: black;
}
.Request_Quote_btn {
  padding-right: 40px;
}
.reques_btn {
  width: 130px;
  height: 40px;
  border: 1px solid #30303077;
  border-radius: 8px;
  background-color: #1c1b1b;
  color: #fff;
}

/* ********************** mainpage styling ********************** */
.mainpage {
  display: flex;
  align-items: center;
  /* border: 2px solid rgba(0, 200, 255, 0.474); */
  height: 80vh;
  gap: 40px;
}

.lift,
.right {
  width: 50%;
  gap: 10px;
}
.left {
  padding-left: 40px;
  /* border: 2px solid rgb(252, 7, 19); */
}
.left h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 50px;
}
.book-btn {
  width: 150px;
  height: 40px;
  border: 1px solid #30303077;
  border-radius: 8px;
  background-color: #1c1b1b;
  color: #fff;
}
.right {
  /* border: 2px solid rgb(252, 7, 19); */
  padding-left: 5%;
}
.right img {
  width: 80%;
  padding-left: 20%;
}
